* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.recipe-link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.ml-1 {
  margin-left: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.m-2 {
  margin: 2em;
}

.font-italics {
  font-style: italic;
}

.background-highlight {
  background-color: yellow;
}